/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* body part  */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0ede51f;
    margin:0;
}

main p{
    color:rgba(126, 119, 119, 0.712);
}

/*  first part style  */

.container{
    background-color: #0ff7e3c4;
}
.section-copa{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
}
.section-title{
    padding-left: 240px;
    padding-top:76px;
    font-size:25px;
    color:white;
}
.section-title{
    color:black;
}

.live{
    margin-top:-20px;
}
 .link-button {
    background-color: #E02C6D;
    text-decoration: none;
    padding:8px 28px;
    font-size:12px;
    color:white;
   }
  .link-button:hover{
       background-color: rgb(0, 255, 106);
       color:black;
       padding:12px;
       border:1px sloid rgba(65, 233, 14, 0.527);
       border-radius:28px;
       font-size:17px;
       transition: 0s;
       }
.fas{
    margin-left: 4px;
    font-size: 12px;
}
.section-player img{
    width:545px;
    height:434px;
    padding-top: 54px;
    padding-bottom: 28px;
    margin-right: 150px;
    transition: transform 1s;
}
.section-player img:hover{
    transform:translate(50px) ;
}

/* --------------------------- second part style
 ----------------------------- */

 .players-section{
      width:80%; 
     height:2215px;
     margin-top:30px; 
      margin-left: 170px; 
 }

 .players-detail{
     display:grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     grid-column-gap: 18px;
     grid-row-gap: 2px;
     margin:13px;
 }
.players-info{
    background-color:  rgb(245, 231, 231);
    padding:14px;
    box-shadow: 9px 9px 30px grey;
    margin-top:16px;
}
 .player img{
     width:300px;
     height: 256px;
 }




    /* last part style   */

 .fourth{
     margin-top:60px;
     margin-bottom: 10px;
 }
 .footer-detail{
     margin-left: 125px;
     margin-top:5px;
 }
 .logo{
     margin-left: 440px;
      display:grid;
     grid-template-columns: repeat(1,1fr); 
 }
 .fa-instagram{
     margin-left: 20px;
 }
 .fab{
     padding:7px;
     background-color: hsla(44.5, 32.6%, 81.4%, 0.7);
     border-radius: 35px;
     margin-right: 5px;
     margin-bottom: 16px;
 }
 .fab:hover{
     background-color:rgb(197, 153, 31);
     transform: scale(1);
 }
 .logo-football img{
     width:480px;
     height:110px;
 }


 

 /* mobile device  */
 
 @media only screen and (max-width:688px) {
    main{
         width:100%;
     }


     .section-player img{
        width:220px;
        height:200px;
        padding-top: 20px;
        padding-bottom: 15px;
        margin-left: 5px;
    }
    .live{
        margin-top: 16px;
        margin-bottom: 4px;
    }
    .section-title{
        padding-left: 20px;
        padding-top:30px;
        font-size:15px;
        color:white;
    }
   
  

 .players-section{
        width:auto;
       height:5450px; 
       margin-top:15px; 
       margin-left: 2px; 
      background-color: white;
   }
    .players-detail{
        margin:1px;
    }
    .player img{
        width:250px;
        height: 220px;
    }

    

  

    .logo{
        margin-left: 10px;
    }
    .logo-football img{
        width:223px;
        height:60px;
    }
    .footer-detail{
        margin-left: 12px;
        margin-top:5px;
    }
    .fourth{
        background-color: white;
        margin-top:40px;
        margin-bottom: 20px;
    }
   .section-copa , .players-detail , .logo {
       
      grid-template-columns: repeat(1, 1fr);
      
   }
   
    }

    /*----------------- tablet screen
    ------------------------  */

    @media only screen and (min-width:688px) and (max-width:992px) {
        .main{
            width:100%;
        }

        

        .section-player img{
            width:260px;
            height:240px;
            padding-top: 40px;
            padding-bottom: 15px;
            margin-left: 8px;
        }
        .live{
            margin-top: 20px;
            margin-bottom: 6px;
        }
        
        .section-title{
            padding-left: 68px;
            padding-top:33px;
            font-size:15px;
            
        }
        


     .players-section{
            width:100%;
           height:2550px; 
           margin-top:15px; 
           margin-left: 2px; 
          
       }
       .player-bio p{
           font-size:10px;
       }
       .players-info{
        
        padding:8px;
        box-shadow: 9px 9px 30px grey;
        margin-top:10px;
    }
    .player img{
        width:280px;
        height: 246px;
    }
    

   

    .fourth{
        margin-top:13px;
        margin-bottom: 30px;
    }
    .footer-detail{
        margin-left: 60px;
        margin-top:5px;
    }
    .logo-football img{
        width:260px;
        height:80px;
    }
    .logo{
       
        margin-left: 190px;
         display:grid;
        grid-template-columns: repeat(1,1fr); 
    }
    
        .section-copa , .players-detail {
            grid-template-columns: repeat(2, 1fr);

            }
        
        
    }